<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>Untitled Form</title>
<link rel="stylesheet" type="text/css" href="../static/view.css" media="all">
<script type="text/javascript" src="../static/view.js"></script>

</head>
<body id="main_body" >

	<img id="top" src="../static/top.png" alt="">
	<div id="form_container">

		<h1><a>Untitled Form</a></h1>
		<form id="PointForm" class="appnitro"  method="post" action="#">
			<div class="form_description">
				<h2>Untitled Form</h2>
				<p>This is your form description. Click here to edit.</p>
			</div>
		<ul >
		<div id="event" class="event" name="event">
			<div>
				<input id="element_13" name="-version" value="2.0" type="hidden"/>
			</div>
			<li id="li_7" >
			<label class="description" for="element_7">Block UID </label>
			<div>
				<input id="element_7" name="-uid" class="element text medium" type="text" maxlength="255" value=""/>
			</div>
			</li>
			<div>
				<input id="element_19" name="-type" value="None" type="hidden"/>
			</div>
			<div>
				<input id="element_9" name="-how" value="h-g-i-g-o" type="hidden"/>
			</div>
      <div id="point">
            <li id="li_1" >
        <label class="description" for="element_1">LAT </label>
        <div>
          <input id="element_1" name="lat" class="element text medium" type="text" maxlength="255" value=""/>
        </div>
        </li>		<li id="li_2" >
        <label class="description" for="element_2">LON </label>
        <div>
          <input id="element_2" name="lon" class="element text medium" type="text" maxlength="255" value=""/>
        </div>
        </li>
        <div>
          <input id="element_10" name="hae" value="9999999.0" type="hidden"/>
        </div>
        <div>
          <input id="element_11" name="ce" value="9999999.0" type="hidden"/>
        </div>
        <div>
          <input id="element_12" name="le" value="9999999.0" type="hidden"/>
        </div>
      </div>
	  <div id="detail">
		  <div id="status">
			<div>
				<input id="element_14" name="readiness" value="true" type="hidden"/>
			</div>
		  </div>
		  <div id="usericon">
			<div>
				<input id="element_15" name="iconsetpath" value="None" type="hidden"/>
			</div>
		  </div>
		  <div id="Link">
				<li id="li_4" >
			<label class="description" for="element_4">User UID </label>
			<div>
				<input id="element_4" name="uid" class="element text medium" type="text" maxlength="255" value=""/>
			</div>
			</li>
			<div>
				<input id="element_20" name="production_time" value="None" type="hidden"/>
			</div>
			<div>
				<input id="element_16" name="type" value="a-f-G-U-C" type="hidden"/>
			</div>
					<li id="li_3" >
			<label class="description" for="element_3">User Callsign </label>
			<div>
				<input id="element_3" name="parent_callsign" class="element text medium" type="text" maxlength="255" value=""/>
			</div>
			</li>
			<div>
				<input id="element_17" name="relation" value="p-p" type="hidden"/>
			</div>
		  </div>
		  <div id="color">
			<div>
				<input id="element_8" name="argb" value="-1" type="hidden"/>
			</div>
		  </div>
		  <div id="precisionlocation">
			<div>
				<input id="element_18" name="m_event.m_detail.m_Precisionlocation.altsrc" value="???" type="hidden"/>
			</div>
		  </div>
		  <div id="contact">
					<li id="li_5" >
			<label class="description" for="element_5">Block Callsign </label>
			<div>
				<input id="element_5" name="m_event.m_detail.m_Contact.callsign" class="element text medium" type="text" maxlength="255" value=""/>
			</div>
			</li>
		  </div>
			  <li id="li_6" >
			<label class="description" for="element_6">Drop Down </label>
			<div>
			<select class="element select medium" id="element_6" name="Block_Type">
				<option value="" selected="selected"></option>
	<option value="h" >Red Square</option>
	<option value="2" >Second option</option>
	<option value="3" >Third option</option>

			</select>
			</div>
	  </li>
	  	  </div>
		</div>
		</li>	<li class="buttons">

				<input id="saveForm" class="button_text" type="submit" name="submit" value="Submit" />
		</li>
			</ul>
		</form>
	</div>
	<img id="bottom" src="../static/bottom.png" alt="">
	</body>
	<script>

	console.log('ndwaondiawo')
	function defaut(){
		function getTag(attributes){
	  var tagObj = {}
	  //var attributes = document.getElementById(`${ID}`).children;
	  for (var i = 0; i < attributes.length; ++i) {
			var attribute = attributes[i];
			if (attribute.tagName === "DIV") {
					var Input = attribute.childNodes[1]
					console.log(attribute)
					var name = Input.name;
					console.log(name)
			  		var value = Input.value;
					console.log(value)
			  	if (name) {
					tagObj[name] = value;
			  }
			} else if (attribute.tagName === "LI") {
			  var li = attribute.childNodes[3];
			  var Input = li.childNodes[1];
			  var name = Input.name;
			  var value = Input.value;
			  if (name) {
				tagObj[name] = value;
				console.log(Input)
			  }
			 }
		}
		console.log(tagObj)
		return tagObj
		}



		function getPoint() {

	  var pointObj = {}
	  var points = document.getElementById('point').children;
	  console.log(points)
	  let attribute = getTag(points);
	  pointObj = attribute;
	  console.log(pointObj)
	  return pointObj}



	  function getDetail(){

	  var detailObj = {}
	  var details = document.getElementById('detail').children;
	  for (var i = 0; i < details.length; ++i) {
		    var detail = details[i]
		    console.log(detail.children)
		    let attribute = getTag(detail.children);
			detailObj[detail.id] = attribute;

	  }
	  console.log(detailObj)
	  return detailObj
	}



	  function toJSONString(form) {
				var obj = {};
				var events = document.querySelector('.event').children;
		  console.log(events)
		  var point = getPoint()
		  var detail = getDetail()
			  for (var i = 0; i < events.length; ++i) {
			var event = events[i];
			if (event.tagName === "LI") {
				var li = event.childNodes[3]
			  var Input = li.childNodes[1]
			  var name = Input.name;
			  var value = Input.value;
			  if (name) {
				obj[name] = value;
			  }
			 } else if (event.tagName === "DIV") {
				var Input = event.childNodes[1]
				var name = Input.name;
			  var value = Input.value;
			  if (name) {
				obj[name] = value;
			  }
			}
			}
	  obj['Point'] = point
	  obj['detail'] = detail
		return JSON.stringify(obj);
	}

	  console.log('dwadw');
	  document.addEventListener("DOMContentLoaded", function loada() {
		var form = document.getElementById("PointForm");
		form.addEventListener("submit", function(e) {
		  e.preventDefault();
		  console.log('111');
		  var letter = document.getElementById("element_6").value
				document.getElementById("element_19").value = `a-${letter}-G`;
		  document.getElementById("element_15").value = `COT_MAPPING_2525B/a-${letter}/a-${letter}-G`;
		  var currentDate = new Date()
				console.log(currentDate)
				var formattedDate = currentDate.toISOString();
				console.log(formattedDate);
				document.getElementById("element_20").value = `${formattedDate}`;
				var json = toJSONString(this);
				const url='http://127.0.0.1/Json';
				const Http = new XMLHttpRequest();
				Http.open("POST", url);
				Http.setRequestHeader("Content-Type", "application/json");
				console.log(json);
				Http.send(json);
				Http.onreadystatechange = (e) => {
					console.log(Http.responseText);
				}

		});
	  })
	  }
	  defaut()

	</script>
</html>