# This workflow will upload a Python Package using Twine when a release is created
# For more information see: https://help.github.com/en/actions/language-and-framework-guides/using-python-with-github-actions#publishing-to-package-registries

name: Upload Dev Python Package No ZT
on:
  release:
    types: [created]

  workflow_dispatch:

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout Repository
      uses: actions/checkout@v2
    - name: Set up Python
      uses: actions/setup-python@v2
      with:
        python-version: '3.8'
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install setuptools wheel twine
    - name: Build and publish
      continue-on-error: true
      env:
        TWINE_USERNAME: ${{ secrets.DEV_PYPI_USERNAME }}
        TWINE_PASSWORD: ${{ secrets.DEV_PYPI_PASSWORD }}
      run: |
        python setup.py sdist bdist_wheel
        twine upload --repository-url http://${{ secrets.DEV_PYPI_ADDRESS }}:8080 dist/*
    - name: Clone GuillaumeFalourd/poc-github-actions PUBLIC repository
      uses: GuillaumeFalourd/clone-github-repo-action@v2
      with:
        owner: 'FreeTAKTeam'
        repository: 'FreeTAKHub-Installation'

    - name: uninstall previous version and clean environment
      uses: appleboy/ssh-action@v0.1.10
      with:
        host: ${{secrets.DEV_SERVER_ADDRESS}}
        username: ${{secrets.DEV_SERVER_USERNAME}}
        password: ${{secrets.DEV_SERVER_PASSWORD}}
        key: ${{ secrets.DEV_SERVER_SSH_KEY}}
        script: |
          echo ${{secrets.DEV_SERVER_PASSWORD}} | sudo python3 -m pip uninstall FreeTAKServer -y
          echo ${{secrets.DEV_SERVER_PASSWORD}} | sudo rm -r /usr/local/lib/python3.11/dist-packages/FreeTAKServer
          echo ${{secrets.DEV_SERVER_PASSWORD}} | sudo python3 -m pip install FreeTAKServer   
          echo ${{secrets.DEV_SERVER_PASSWORD}} | sudo python3 -m pip uninstall digitalpy -y
          echo ${{secrets.DEV_SERVER_PASSWORD}} | sudo rm -r /usr/local/lib/python3.11/dist-packages/digitalpy
          echo ${{secrets.DEV_SERVER_PASSWORD}} | sudo python3 -m pip install digitalpy   
